@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header div {
    color: white;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    height: 25px;
    font-size: 13px;
    font-weight: 400;
}

header div ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 200px;
}

header div ul li {
    margin-right: 20px;
}

header div ul li img {
    position: center; 
}

header nav {
    color: white;
    background-color: #F0A83E;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li {
    padding-right: 20px;
    align-items: center;
}

header nav ul li img {
    height: 20px;
    width: 21px;
    vertical-align: bottom;
}

header nav img {
    height: 30px;
}

#banner {
    width: 100%;
}

img#patita {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
    
}

main div h2 {
    font-weight: 700;
    font-size: 60px;
    color: #3C2313;
    text-align: center;
    padding-bottom: 3vh;
}

ul.categorias {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    color: #666666;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0%;
    padding-bottom: 3vh;
}

div.destacados {
    display: flex;
    flex-direction: row;
    justify-items: center;

}

footer div p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(34, 34, 34, 1);
    font-size: 13px;
    height: 25px;
    font-weight: 400;
}   
