@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header div {
    color: white;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    height: 25px;
    font-size: 13px;
    font-weight: 400;
}

header div ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 200px;
}

header div ul li {
    margin-right: 20px;
}

header div ul li img {
    position: center; 
}

header nav {
    color: white;
    background-color: #F0A83E;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li {
    padding-right: 20px;
    align-items: center;
}

header nav ul li img {
    height: 20px;
    width: 21px;
    vertical-align: bottom;
}

header nav img {
    height: 30px;
}

#banner {
    width: 100%;
    height: auto;
}

main div.banner {
    background-image: url("../img/banner.jpg");
    width: 100%;
    height: 850px;  
    background-size: cover;
}

img#patita {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
    padding-top: 3vh;
    
}


main div h2 {
    font-weight: 700;
    font-size: 60px;
    color: #3C2313;
    text-align: center;
    padding-bottom: 3vh;
}

.placer {
    position: absolute;
    top: 450px;
    right: 200px;
    z-index: 100;
}

.placer p {
    padding-bottom: 10px;
    text-align: center;
    color: #3C2313;
    font-weight: 400;
}

#placer {
    font-size: 38px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 5px;
}

#descuento {
    padding-top: 10px;
    font-size: 20px;
}

#boton {
    padding: 15px 23px 15px 23px;
    background-color: #F0A83E;
    color: white;
    border-radius: 5px;
    width:max-content;
    margin: 0 auto;
}

ul.categorias {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    color: #666666;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0%;
    padding-bottom: 3vh;
}

div.destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #3C2313;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 8vh;
    gap: 2vw;
}

div.churrasquito {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

div.comedero {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

div.huesito {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

div.destacados p {
    background-color: #FBFAF6;
    padding-bottom: 1vh;
}

div.destacados p.price {
    color: #F0A83E;
}

div.contacto {
    text-align:center;
    margin-bottom: 3vh;
}

div.contacto form {
    max-width: 340px;   
    margin-left: auto;
    margin-right: auto;
    
}

div.contacto form legend {
    text-align: center;
    align-content: center;
    align-items: center;
    color: #3C2313;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 2vh;
}

div.contacto form input {
    margin-bottom: 1vh;
    border: none;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: white;
    background-color: #3C2313;
    width: 340px;
    height: 40px;
}

div.buttons {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: center;   
}

div.buttons input {
    width: 110px;
    height: 40px;  
}

#reset {
    background-color: #666666;
}

#submit {
    background-color:#F0A83E;
}

div.subscribe {
    background-color: #F0A83E;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
}

div.subscribe form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

div.subscribe input {
    border: none;
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 1vw;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 35px;
    
}

div.subscribe img {
    vertical-align: text-bottom;
    height: 25px;
    padding-right: 0.5vw;
}

#email {
    background-color: white;
    width: 300px;
    padding-left: 15px;
}

#subscribe {
    width: 90px;
    background-color: #3C2313;  
    color: white;
}

div.info {
    background-color: #3C2313;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    color: white;   
    padding-right: 100px;
    padding-left: 100px;
    height: 30vh;
}

div.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
}

div.localidad {
    display: flex;
    gap: 20px;
}

div h5 {
    font-size: 20px;
    font-weight: 700;
}

div h6 {
    font-size: 10px;
    font-weight: 700;
    color: #8A8787;
}

div.telefono {
    display: flex;
    gap: 20px;
}

div.correo {
    display: flex;
    gap: 20px;
}

footer div p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(34, 34, 34, 1);
    font-size: 13px;
    height: 25px;
    font-weight: 400;
}   

a:link {
    text-transform: none;
    text-decoration: none;
    color: white;
}

a:visited {
    text-transform: none;
    text-decoration: none;
    color: white;
}

@media (max-width: 414px) {

    header div {
        display: none;
    }
    
    header nav ul {
        display: none;
    }

    main div.banner {
        background-image: url("../img/banner.jpg");
        width: 100%;
        height: 500px;  
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}